<h3>Equip, LLC Consulting</h3>
    <div class="project">
        <div class="project-image">
            <a href="https://www.equipadvisory.com/" target="_blank">
            <%= image_tag ("project-equipllc.png"), alt: "Equip, LLC Website Screenshot" %></a>
        </div>
        <div class="project-body">
            <div class="project-text">
                <p>
                Client, a business consultant, asked for a single-page, "lean, simple, elegant site that flows 
                logically from what kinds of things can this company helps with to who are they to how do I start… 
                a nature theme, something that conveys tranquility, knowledge, approachability, curiosity and a 
                little bit of whimsy." Built on Wix and handed off so client could self-manage, as requested.
                </p>
                <h4>team members on project</h4>
                    <div class="project-team">
                        <div class="project-team-members">
                            <div class="project-team-members-link"><a href="#amelital">Amelita Lijek</a></div>
                            <div class="project-team-members-link"><a href="#sbeling">Sarah Beling</a></div>
                        </div>
                        <div class="project-team-members">
                            <div class="project-team-members-link"><a href="#heatherr">Heather Randolph</a></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<h3>Bespoke Pyro Co on Etsy</h3>
<div class="project">
    <div class="project-image">
        <a href="https://www.etsy.com/shop/BespokePyroCo" target="_blank">
        <%= image_tag ("project-bespoke-pyro-co.png"), alt: "Bespoke Pyro Co Etsy Shop Screenshot" %></a>
    </div>
    <div class="project-body">
        <div class="project-text">
            <p>
            Video editing and copywriting done for Etsy shop owner.
            </p>
            <h4>team members on project</h4>
            <div class="project-team">
                <div class="project-team-members">
                    <div class="project-team-members-link"><a href="#sarahb">Sarah Beling</a></div>
                <!-- <div class="project-team-members-link"><a href="#emilyb">Emily Bradshaw</a></div> -->
                </div>
                <div class="project-team-members">
                    <div class="project-team-members-link"><a href="#amelital">Amelita Lijek</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Robert Osborne Real Estate</h3>
<div class="project">
    <div class="project-image">
        <a href="https://robertosbornerealestate.com/" target="_blank">
        <%= image_tag ("project-robert-osborne-realestate.png"), alt: "Robert Osborne Realestate Website Screenshot" %></a>
    </div>
    <div class="project-body">
        <div class="project-text">
            <p>
            This realty website was built for the client using WordPress.
            </p>
            <h4>team members on project</h4>
            <div class="project-team">
                <div class="project-team-member">
                <a href="#heatherr">Heather Randolph</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Jenn Loves to Code Portfolio Site</h3>
<div class="project">
<div class="project-image">
<a href="https://jennlovestocode.com/" target="_blank">
<%= image_tag ("project-jenn-loves-to-code.png"), alt: "Jenn Loves to Code Website Screenshot" %></a>
</div>
<div class="project-body">
<div class="project-text">
<p>
Portfolio website built to highlight client's projects including HTML, CSS3 and Python.
</p>
<h4>team members on project</h4>
<div class="project-team">
<div class="project-team-member">
<a href="#jenniferc">Jennifer Cameron</a>
</div>
</div>
</div>
</div>
</div>

<h3>Police Brutality Awareness</h3>
<div class="project">
<div class="project-image">
<a href="https://pb-2020-app.herokuapp.com/" target="_blank">
<%= image_tag ("project-police-brutality.png"), alt: "Police Brutality Awareness Website Screenshot" %></a>
</div>
<div class="project-body">
<div class="project-text">
<p>Using Rails and API, this site was built to 
highlight incidents of police brutality that may not be covered by traditional news outlets, but are being 
reported on social media.
</p>
<h4>team members on project</h4>
<div class="project-team">
<div class="project-team-member">
<a href="#heatherr">Heather Randolph</a>
</div>
</div>
</div>
</div>
</div>