 <header class="inner-page">

    <div class="mobile-nav mobile-nav-wrapper desk-nav desk-nav-wrapper">
      <p><a href="/#" class="home hidden"><i class="fas fa-home"></i></a></p>
      
      <div id="menu-toggle" class="menu-toggle">
        <div class="hamburger"></div>
      </div>
    </div>
    
   

    <nav class="nav">
      <ul class="nav-ul">
        <li><%= link_to 'mission', '/#mission' %></li>
        <li><%= link_to 'our work', '/#work' %></li>     
        <li><%= link_to 'social justice', '/#social-justice' %></li>
        <li><%= link_to 'team', '/#team' %></li>
        <li><%= link_to 'contact', '/#contact' %></li>
        
        
      </ul>
    </nav>

   
  </header>

  <main>