 <header>

    <div class="mobile-nav mobile-nav-wrapper desk-nav desk-nav-wrapper">

      
      <div id="menu-toggle" class="menu-toggle">
        <div class="hamburger"></div>
      </div>
    </div>
    
    <div class="header-logo">
      <%= image_tag ("Asset_1.svg"), class: "header-logo-img", alt: "The Unbranded Logo" %>
      <%= image_tag ("the-unbranded-logo.png"), class: "header-logo-img-2", alt: "The Unbranded Logo" %>
    </div>

    <nav class="nav">
      <ul class="nav-ul">
        <li><%= link_to 'mission', '/#mission' %></li>
        <li><%= link_to 'our work', '/#work' %></li>     
        <li><%= link_to 'social justice', '/#social-justice' %></li>
        <li><%= link_to 'team', '/#team' %></li>
        <li><%= link_to 'contact', '/#contact' %></li>
        <!-- <li><%= link_to 'blog', '/articles' %></li> -->
      </ul>
    </nav>

   
  </header>
